body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(flower.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.heading {
  border-bottom: 2px solid white;
  padding: 10px;
}

.container {
  position: relative;
  max-width: 600px;
  width: 100%;
  border: 1px solid white;
  box-shadow: 5px 10px 20px;
  padding: 40px;
  border-radius: 10px;
  margin-top: 20px;
  opacity: 0.75;
  background: #f7b099;
}

#overlay {
  position: fixed;
  right: -30px;
  top: 265px;
  
}

.column {
  display: flex;
  column-gap: 50px;
  margin-bottom: 20px;
}

.column .inputBox {
  position: relative;
  width: 320px;
}

.column .inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;

  border-radius: 10px;
  color: black;
  font-size: 80%;
  transition: 0.1s;
}

.column .inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 80%;
  color: black;
  transition: 0.1s;
}

.column .inputBox input:valid ~ span,
.column .inputBox input:hover ~ span {
  color: black;
  transform: translateX(10px) translateY(-15px);
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 0.2em;
}

.column1 {
  display: flex;
  column-gap: 65px;
  margin-bottom: 20px;
}

.column1 .inputBox {
  position: relative;
  width: 150px;
}

.column1 .inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  font-size: 80%;
  transition: 0.1s;
}

.column1 .inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 80%;
  color: black;
  transition: 0.1s;
}

.column1 .inputBox input:valid ~ span,
.column1 .inputBox input:hover ~ span {
  color: black;
  transform: translateX(10px) translateY(-15px);
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 0.2em;
}

.column2 {
  display: flex;
  column-gap: 50px;
}

.input-Box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-Box input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  font-size: 80%;
}

.input-Box span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 80%;
  color: black;
  transition: 0.1s;
}

.input-Box input:valid ~ span,
.input-Box input:hover ~ span {
  color: black;
  transform: translateX(10px) translateY(-15px);
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 0.2em;
}

.column3 {
  display: flex;
  column-gap: 65px;
  margin-bottom: 20px;
}

.column3 .inputBox {
  position: relative;
  width: 320px;
}

.column3 .inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 80%;
  transition: 0.1s;
}

.column3 .inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 80%;
  transition: 0.1s;
  color: black;

}

.column3 .inputBox input:valid ~ span,
.column3 .inputBox input:hover ~ span {
  color: black;
  transform: translateX(10px) translateY(-15px);
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 0.2em;
}

.column4 {
  display: flex;
  column-gap: 65px;
  margin-bottom: 20px;
}

.column4 .inputBox {
  position: relative;
  width: 150px;
}

.column4 .inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 80%;
  transition: 0.1s;
}

.column4 .inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 80%;
  color: black;
  transition: 0.1s;
}

.column4 .inputBox input:valid ~ span,
.column4 .inputBox input:hover ~ span {
  color: black;
  transform: translateX(10px) translateY(-15px);
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 0.2em;
}

.gender-wrapper {
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  font-size: 80%;
  background-color: white;
}

.submit-btn {
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
}


.column3 {
  display: flex;
  column-gap: 65px;
  margin-bottom: 20px;
}

.column3 .inputBox {
  position: relative;
  width: 320px;
}

.column3 .inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  font-size: 80%;
  transition: 0.1s;
}

.column3 .inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 80%;
  color: black;
  transition: 0.1s;
}

.column3 .inputBox input:valid ~ span,
.column3 .inputBox input:hover ~ span {
  color: black;
  transform: translateX(10px) translateY(-15px);
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 0.2em;
}

.column4 {
  display: flex;
  column-gap: 65px;
  margin-bottom: 20px;
}

.column4 .inputBox {
  position: relative;
  width: 150px;
}

.column4 .inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
  color: black;
  font-size: 80%;
  transition: 0.1s;
}

.column4 .inputBox span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 80%;
  color: black;
  transition: 0.1s;
}

.column4 .inputBox input:valid ~ span,
.column4 .inputBox input:hover ~ span {
  color: black;
  transform: translateX(10px) translateY(-15px);
  font-size: 80%;
  padding: 0 10px;
  letter-spacing: 0.2em;
}
